# Environment variables
.env

# Local databases
*.db
*.sqlite3

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.pytest_cache/

# Virtual Environment
venv/
env/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db
